{% extends 'EntregaDNI/base.html' %}
{% block 'Titulo' %}Eliminar sobre{% endblock %}
{% block 'TituloContenido' %}Eliminar sobre{% endblock %}
{% block 'Contenido' %}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="alert alert-warning">
            <form action="" method="post">
                {% csrf_token %}
                <h3><i class="fas fa-exclamation-triangle"></i> ¿Está seguro que desea eliminar el sobre {{ object.codigo }} de la caja {{ object.caja.codigo }}?</h3>
                <div class="row justify-content-between">
                    <input type="submit" class="btn btn-success" value="Sí, estoy seguro">
                    <a class="btn btn-primary" href="{% url 'ListaSobres' %}">No, regresar a la lista</a>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>
{% endblock %}
