{% extends 'EntregaDNI/base.html' %}

{% block 'Titulo' %}Entregados por enrolador{% endblock %}
{% block 'TituloContenido' %}Informe diario por enrolador al {{ request.GET.fecha_entregadas }}{% endblock %}
{% block 'Contenido' %}
<div class="row">
  <div class="col-sm-12">
    <div class="card card-outline card-orange">
      <div class="card-body">
	<table class="table table-hover text-center">
	  <thead>
	    <tr>
	      <th>Enrolador</th>
	      <th>Escaneados</th>
	      <th>Entregados</th>
	      <th>Enrolados</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr class="font-weight-bold bg-info">
	      <td>Total:</td>
	      <td>{{ escaneado }}</td>
	      <td>{{ htotal }}</td>
	      <td>{{ enrolado }}</td>
	    </tr>
	    {% for usuario in usuarios|dictsortreversed:'hoy' %}
	    <tr>
	      <td>{{ usuario.nombre }}</td>
	      <td>{{ usuario.escaneado }}</td>
	      <td>{{ usuario.hoy }}</td>
	      <td>{{ usuario.enrolado }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>

      </div>
    </div>
  </div>
</div>
{% endblock %}
