{% extends 'EntregaDNI/escaner-sobre.html' %}
{% block 'Modales' %}
<div id="form-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Registrar sobre</h4>
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
     	<form id="FormSobre" action="" enctype="multipart/data-form" method="POST">
	  {% csrf_token %}
	  <div class="form-group">
	    <div class="input-group">
	      <div class="input-group-prepend">
	        <span class="input-group-text"><i class="fas fa-user"></i></span>
	      </div>
	      {{ form.usuario }}
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="input-group">
	      {{ form.codigo }}
	      <div class="input-group-append">
	        <button type="button" class="input-group-text" onclick="editarCodigoSobre()"><i class="fas fa-edit"></i></button>
	      </div>
	    </div>
	  </div>
	  {% if form.errors.codigo %}<span class="text-sm text-danger">{{ form.errors.codigo }}</span>{% endif %}
	    <div class="form-group">
	      <div class="input-group">
		{{ form.caja }}
	        <div class="input-group-append"><button type="button" class="input-group-text" onclick="editarCodigoCaja()"><i class="fas fa-edit"></i></button></div>
	      </div>
	    {% if form.errors.caja %}<span class="text-sm text-danger">{{ form.errors.caja }}</span>{% endif %}
	    </div>
	</form>
      </div>
      <div class="modal-footer justify-content-between">
	<button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
	<button class="btn btn-success" type="submit" form="FormSobre">Registrar</button>
      </div>
  </div>
    </div>
  </div>
</div>
{% endblock %}
