{% extends 'EntregaDNI/base.html' %}
{% load staticfiles %}

{% block 'TituloContenido' %}Registrar sobre de DNI{% endblock %}
{% block 'Titulo' %}Registrar sobre de DNI{% endblock %}
{% block 'Contenido' %}
<div class="row">
  <div class="col-sm-4">
    <div class="card card-outline card-orange">
      <div class="card-header">
	<h3 class="card-title">Escáner de sobre</h3>
      </div>
      <div class="card-body">
	<div class="img-fluid" id="escaner"></div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'plugins/html5-qrcode/html5-qrcode.min.js' %}"></script>
<script>
  // Inicializando escaner
  const escaner = new Html5Qrcode('escaner');
  
  // Editar códigos de formularios
  const editarCodigoSobre = () => $('#id_codigo').removeAttr('readonly');
  const editarCodigoCaja = () => $('#id_caja').removeAttr('readonly');

  // Funciones de proceso de QR
  const scanSuccess = (qrmessage) => {
    const re = /[0-9]{9}P[0-9]{3}B[0-9]{2}/;

    if (re.test(qrmessage)) {
      codigo_sobre = qrmessage.substring(0, 9);
      codigo_caja = qrmessage.substring(9, 16);

      $('#id_codigo').val(codigo_sobre);
      $('#id_caja').val(codigo_caja);
      $('#form-modal').modal('show');
      escaner.stop();
    }
  }
  const scanFailure = (error) => console.log(error);
  
  const iniciarEscaner = () => {
    Html5Qrcode.getCameras().then(devices => {
	if (devices && devices.length) {
	  var cameraId = devices[devices.length - 1].id;
	  escaner.start(cameraId, {fps:10, qrbox: 125}, scanSuccess)
	}
      }).catch(err => {
	Swal.fire({
	  title: '¡Ups!',
	  text: 'Al parecer hubo un error con la cámara.\n' + err,
	  icon: 'error'});
      });
  }

  // Iniciando escaner.
  {% if not form.errors %}
  iniciarEscaner();
  {% endif %}
</script>
{% endblock %}
{% block 'Modales' %}
<div id="form-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<h4 class="modal-title">Registrar sobre</h4>
	<button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
	{% block 'FormularioModal' %}
	<form id="FormSobre" action="" enctype="multipart/data-form" method="POST">
	  {% csrf_token %}
	  <div class="form-group">
	    <div class="input-group">
	      {{ form.codigo }}
	      <div class="input-group-append">
	        <button type="button" class="input-group-text" onclick="editarCodigoSobre()"><i class="fas fa-edit"></i></button>
	      </div>
	    </div>
	  </div>
	  {% if form.errors.codigo %}<span class="text-sm text-danger">{{ form.errors.codigo }}</span>{% endif %}
	    <div class="form-group">
	      <div class="input-group">
		{{ form.caja }}
	        <div class="input-group-append"><button type="button" class="input-group-text" onclick="editarCodigoCaja()"><i class="fas fa-edit"></i></button></div>
	      </div>
	    {% if form.errors.caja %}<span class="text-sm text-danger">{{ form.errors.caja }}</span>{% endif %}
	    </div>
	</form>
	{% endblock %}
      </div>
      <div class="modal-footer justify-content-between">
	<button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
	<button class="btn btn-success" type="submit" form="FormSobre">Registrar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block 'OtrosGuiones' %}
<script>
  {% if form.errors %}
  $('#form-modal').modal('show');
  Swal.fire({
    title: '¡Ups!',
    text: 'Ocuerrieron algunos errores al registrar el sobre',
    icon: 'error'
  });
  {% endif %}

  $('#form-modal').on('show.bs.modal', function () {
    escaner.stop();
    $('#escaner').children().remove();
  });
  $('#form-modal').on('hide.bs.modal', function() {
    iniciarEscaner();
  });
  
  $('form').submit(function() {
    const overlay = '<div class="overlay dark text-center"><i class="fas fa-2x fa-sync fa-spin" style="margin-top: 20%;"></i></div>';
    $('.modal-content').append(overlay);
  });
</script>
{% endblock %}
