{% extends 'EntregaDNI/base.html' %}
{% block 'Titulo'%}Detalle sede{% endblock %}
{% block 'TituloContenido'%}Detalle sede <small>{{ sede.nombre }}</small>{% endblock %}

{% block 'Contenido' %}
<div class="row">
  <div class="col-sm-12 text-center">
    <div class="info-box bg-info">
      <span class="info-box-icon"><i class="fas fa-users"></i></span>
      <div class="info-box-content">
	<h2>Total de enrolamientos: {{ object.total }}</h2>
      </div>
    </div>
  </div>
</div>
<div class="row d-flex align-items-stretch justify-content-center">
  {% for enrol in object.recibos.all %}
  <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
    <div class="card card-outline card-orange">
      <div class="card-header">
	<h3>Unidad {{ enrol.unidad.numero }} (kit {{ enrol.unidad.kit }})</h3>
      </div>
      <div class="card-body text-lg">
	<p>
	  <span class="font-weight-bold" >1er recibo:</span>
	  <span data-toggle="popover" data-placement="top" data-content="{{enrol.recibo_inicio}}">
	    {{ enrol.recibo_inicio | slice:'-7:' }}
	  </span>
	</p>
	<p>
	  <span class="font-weight-bold" >2do recibo:</span>
	  <span data-toggle="popover" data-placement="top" data-content="{{enrol.recibo_final}}">
	    {{ enrol.recibo_final | slice:'-7:' }}
	  </span>
	</p>
	  <span class="font-weight-bold">Total:</span> {{ enrol.cantidad }}
	</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
{% block 'OtrosGuiones' %}
<script>
  $(document).ready(function() {
    $('[data-toggle="popover"]').popover();
  });
</script>
{% endblock %}
